<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @orders.count %> Orders</h1>
    </div>
  </div>
  <% Order::STATUSES.each do |status| %>
  <div id="<%= status %>">
    <h2><%= status.capitalize %> Orders</h2>
      <% @orders[status].each do |order| %>
        <!-- <div class="row" data-order-id="<%#= order.id %>"> -->
          <div class="col-sm-12" data-order-id="<%= order.id %>">
            <h2>Order <%= order.id %></h2>
            <h5>Client: <%= order.user.name %></h5>
            <%= form_for order do |f| %>
              <%= f.select :status, Order::STATUSES %>
              <%= f.submit "Save" %>
            <% end %>
            <h5>Order Items</h5>
            <% order.items.each_with_index do |item, index| %>
              <p>
                <%= "#{index + 1}. #{item.name}" %>
              </p>
            <% end %>
          </div>
        <% end %>
      <!-- </div> -->
    </div>
  <% end %>
</div>
