<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @items.count %> Items</h1>
    </div>
  </div>
  <div class="row"></div>
  <div id="robots-list">
    <% @items.each do |item| %>
      <div class="col-sm-3", id="Item_<%= item.id %>">
        <h5><%= item.name %></h5>
        <%= link_to(image_tag(item.image_url), item_path(item)) %>
        <p>
          <%= item.description %>
        </p>
        <% unless item.active %>
          <%= button_to "Activate!", activate_item_path(item.id) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
